.container {
  position: absolute;
  width: 100%;
  height: 14%;
  bottom: 0;
  padding: 1%;
  background-color: lightpink;
  border-radius: 2% 2% 0 0;
}

.item-box {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  width: 40%;
  margin: 3px;
  display: flex;
  position: relative;
}

.item-title {
  width: 15%;
}

.item-input {
  width: 70%;
}

.item-input.item-radio {
  border: none;

  .add-margin-right {
    margin-right: 10px;
  }
}

.add-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

.category-box {
  position: absolute;
  bottom: 30px;
  left: 15%;
  width: 70%;
  background-color: lightgray;
  padding-left: 2%;
}
