.table, .table-header, .table-row-container, .table-row {
	display: flex;
}

.table, .table-row-container {
	flex-direction: column;
}

.table-row {
	height: 70px;
}

.table-header-item, .table-row-item {
	padding: 0 5px;
	width: 100px;
	border: 1px black solid;
}